[buildout]
develop = .
parts = test
extensions = buildout.dumppickedversions
find-links = http://pypi.dolmen-project.org/find-links

[test]
recipe = z3c.recipe.scripts
initialization =
    import sys
    if not sys.argv[1:]: sys.argv.append('src')
eggs =
    pytest
    dolmen.forms.viewlet [test]
